.ant-tabs-content-holder {
  background-color: white;
  margin: 0px 16px;
  padding: 24;
  min-height: 280;
  border-radius: 20px;
}

.ant-tabs {
  height: 100vh;
}
.ant-tabs-nav-wrap {
  margin: 0px 16px;
}

.ant-spin-container {
  height: 100vh;
  overflow: scroll;
}

.cat-container {
  display: flex;
}

.cat-image {
  height: 30em;
  width: 30em;
  object-fit: cover;
}
